* {
	font-family: Helvetica, "Helvetica Neue", Arial, Geneva, sans-serif;	
}

html, body {
	height: 100%;
}



div#topbar {
	background-color: #01BCFF;
	width: 100%;
	padding: 5px 0;
	position: absolute;
	top: 0;
	left: 0;
	margin: 0 0 10px;
}

div#hd {
	background-color: #01BCFF;
	text-align: right;
	padding: 6px 6px 6px 0;
}

#bd div.yui-g {
	padding: 10px;
}


#topbar form {
	float: right;
	margin: 0 15px 0 0;
	padding-right: 0;
	padding-bottom: 0;
	padding-left: 0;
}

#bottombar form {
	float: left;
	margin: 0 0 0 15px;
	padding-right: 0;
	padding-bottom: 0;
	padding-left: 0;
}

div#madeby {
	bottom: 0;
	position: fixed;
	margin: 10px;
	text-align: right;
	width: 95%;
	font-size: 10px;
}

div#yesHomeTime {
	text-align:  center;
}

div#yesno {
}

h1#isit {
	text-align: center;
	font-size: 400px;
	margin-top: -60px;
	margin-bottom: -60px;
}

h2 {
	text-align: center;
	font-size: 1.5em;
}

h3 {
	text-align: center;
	font-size: 1.4em;
}

#content {
	height: 100%;
	width: auto;
	text-align: center;

}

#container {
	position: fixed;
	min-height: 100%;
	height: 100%;
	voice-family: "\"}\"";
    voice-family: inherit;
    height: auto;
	width: 100%;
	left: 0;
	top: 0;
}

div#cuteMessage {
	text-align: center;
	font-size: 40px;
}

#messagediv {
	margin: 20px;
	text-align: center;
}

#sandwichvandiv {
	margin: 20px;
}