* {
	font-family: Verdana, Arial, sans-serif;	
}

div#topbar {
	background-color: #01BCFF;
	float: left;
	width: 100%;
	margin: 0;
	padding: 5px 0;
	position: fixed;
	top: 0;
	left: 0;
}

#topbar form {
	float: right;
	margin: 0 15px 0 0;
	padding-right: 0;
	padding-bottom: 0;
	padding-left: 0;
}

div#bottombar {
	background-color: #01BCFF;
	float: left;
	width: 100%;
	margin: 0;
	padding: 5px 0;
	position: absolute;
	left: 0;
	bottom: 0;
}

#bottombar form {
	float: left;
	margin: 0 0 0 15px;
	padding-right: 0;
	padding-bottom: 0;
	padding-left: 0;
}

div#yesHomeTime {
	text-align:  center;
}

h1 {
	text-align: center;
	font-size: 10em;

}

h2 {
	text-align: center;
	font-size: 1.5em;
}

h3 {
	text-align: center;
	font-size: 1.4em;
}

#horizon {
	width: 100%;
	text-align: center;

}
#wrapper {
	position: relative;
	top: 2em;
}

div#cuteMessage {
	text-align: center;
	margin-bottom: 100px;
}

#messagediv {
	margin: 20px;
	text-align: center;
}

#sandwichvandiv {
	margin: 20px;
}